// Place all the styles related to the booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-btn {
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  white-space: normal;
  padding-top: 65px;
  padding-bottom: 65px;
}

form .btn {
  margin: auto;
  width: 50%;
}

.btn-holder {
  text-align: center;
}

form label {
  text-align: right;
}

h1 {
  text-align: center;
}
